    <div class="flex items-center py-10">
      <span class="pr-5 font-body font-medium text-primary dark:text-white"
        >Share</span
      >
      <a href="/">
        <i
          class="bx bxl-facebook text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
        ></i
      ></a>
      <a href="/">
        <i
          class="bx bxl-twitter pl-2 text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
        ></i>
      </a>
      <a href="/">
        <i
          class="bx bxl-linkedin pl-2 text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
        ></i
      ></a>
      <a href="/">
        <i
          class="bx bxl-reddit pl-2 text-2xl text-primary transition-colors hover:text-secondary dark:text-white dark:hover:text-secondary"
        ></i
      ></a>
    </div>