<div class="border-b border-grey-lighter py-16 lg:py-20">
	{% include '@avatar' with avatar %}
	{% include '@heading--h1' with heading %}
	{% include '@text--large' with introText %}
	{% include '@button' with button %}
</div>