<a href="/" class="flex items-center">
  <span href="/" class="mr-2">
    <img src="/dist/assets/logo.svg" alt="logo" />
  </span>
  <p
    class="hidden font-body text-2xl font-bold text-primary dark:text-white lg:block"
  >
    {{ siteName|default }}
  </p>
</a>