   <div class="container mx-auto">
  <div
    class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12"
  >
    <div class="mr-auto flex flex-col items-center sm:flex-row">
     {% include '@logo--simple' %}
      <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
        {{copyright | raw}}.
      </p>
    </div>
    {% include '@social-icons' %}
  </div>
</div>